<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Create Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>

          </div>
          <div padding>
            <ion-item>
              <ion-input name="fname" type="text" placeholder="FirstName" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="lname" type="text" placeholder="LastName" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="address" type="text" placeholder="Address" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="phoneNumber" type="text" placeholder="PhoneNumber" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="adharNumber" type="text" placeholder="AadharNumber" ngModel required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="dowo" type="text" placeholder="Do/Wo" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="user@email.com" ngModel ></ion-input>
            </ion-item>

          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Create User</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>