<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Create Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div>
    <ion-item>
    <ion-label>select option</ion-label>
    <ion-select [(ngModel)]="type">
      <ion-select-option value="user">user</ion-select-option>
      <ion-select-option value="group">group</ion-select-option>
   </ion-select>
  </ion-item>
  </div>
 
<div *ngIf="type=='group'">

  <form #groupForm="ngForm" (ngSubmit)="submitGroup(groupForm.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>

          </div>
          <div padding>
            <ion-item>
              <ion-input name="groupName" placeholder="groupName" type="text" [ngModel]="group.groupName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="duration" placeholder="duration" type="number" [ngModel]="group.duration" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="startDate" placeholder="startDate" type="date" [ngModel]="group.startDate" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="endDate" placeholder="endDate" type="date" [ngModel]="group.endDate" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="loanAmount" placeholder="loanAmount" type="number" [ngModel]="group.loanAmount" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="interestRate" placeholder="interestRate" type="number" [ngModel]="group.interestRate" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="investment" placeholder="investment" type="number" [ngModel]="group.investment" required></ion-input>
            </ion-item>
          

          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="!groupForm.valid" expand="block">Submit</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</div>
<div *ngIf="type=='user'">
  <form #userForm="ngForm" (ngSubmit)="submitUser(userForm.value)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>

          </div>
          <div padding>
            <ion-item>
              <ion-input name="fname"  placeholder="firstName" type="text" [ngModel]="user.firstName" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input name="lname" placeholder="lastName" type="text" [ngModel]="user.lastName" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="address" placeholder="address" type="text" [ngModel]="user.address" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="phoneNumber" placeholder="phoneNumber" type="number" [ngModel]="user.phoneNumber" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="aadharNumber" placeholder="aadharNumber" type="text" [ngModel]="user.aadharNumber" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-input name="dowo" placeholder="Do/Wo" type="text" [ngModel]="user.dowo" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" placeholder="email" type="email" [ngModel]="user.email" required></ion-input>
            </ion-item>

          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="userForm.invalid" expand="block">submit</ion-button>
          </div>

          
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  </div>
</ion-content>
